@page
@model SwaggerClone.Pages.AuthModel
@{
    ViewData["Title"] = "User Authentication";
}

<div class="container text-center">
    <h1 class="display-4">User Authentication</h1>
    <hr class="divider" />

    <form method="post">
        <div class="extended-actions-container">
            <div class="input-container">
                <input type="text" id="authurl" name="AuthUrl" required />
                <label class="label" for="authurl">Endpoint</label>
                <div class="underline"></div>
                <div class="sideline"></div>
                <div class="upperline"></div>
                <div class="line"></div>
            </div>
            <button type="submit" class="fetch-btn" asp-page-handler="Authenticate">Get Token</button>

            <textarea id="jsonInput" name="JsonInput"></textarea>

        </div>
    </form>

    <div class="response-container">
        @if (Model.Token != null)
        {
            <p>JWT Token: @Model.Token</p>
        }

        @if (Model.ErrorMessage != null)
        {
            <p style="color:red;">Error: @Model.ErrorMessage</p>
        }
    </div>
</div>
