@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-container text-center">
    <h1 class="display-4 title">Swagger Clone</h1>

    <hr class="divider" />

    <form method="post" asp-page-handler="FetchApi" novalidate>
        <div class="extended-actions-container">
            <div class="api-field-container">
                <div class="d-block">
                    <div class="d-flex">
                        <div class="input-container">
                            <input required id="input" name="Endpoint" type="text">
                            <label class="label" for="input">Endpoint</label>
                            <div class="underline"></div>
                            <div class="sideline"></div>
                            <div class="upperline"></div>
                            <div class="line"></div>
                        </div>
                        <button class="fetch-btn" type="submit" asp-page-handler="Get">Get</button>
                    </div>

                    <div class="delete-container">
                        <div class="delete-holder">
                            <input required type="number" id="objectId" class="objectId-input" name="ObjectId" value="@Model.ObjectId">
                            <button class="fetch-btn" type="submit" asp-page-handler="Delete">Delete Id</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </form>

    <div class="response-container">
        @if (!string.IsNullOrEmpty(Model.ApiResponse))
        {
            <pre class="response-display">@Html.Raw(Model.ApiResponse)</pre>
        }
        else
        {
            <div class="response-empty">No response data to display.</div>
        }
    </div>

    <div class="d-flex justify-content-start" style="margin-left: 2%;">
        <form method="post" asp-page-handler="Reset">
            <button class="fetch-btn" type="submit">Reset</button>
        </form>
    </div>

    <hr class="divider" />


    <form method="post" novalidate>
        <div class="extended-actions-container">
            <div class="input-container">
                <input required type="text" id="apiEndpoint" name="Endpoint">
                <label class="label" for="endpointInput">Endpoint</label>
                <div class="underline"></div>
                <div class="sideline"></div>
                <div class="upperline"></div>
                <div class="line"></div>
            </div>

            <textarea id="jsonPayload" name="JsonPayload">@Model.JsonPayload</textarea>

            <button type="submit" class="fetch-btn" asp-page-handler="FetchJsonTemplate">Get JSON Structure</button>
            <button class="fetch-btn" type="submit" asp-page-handler="Post">POST</button>
            <button class="fetch-btn" type="submit" asp-page-handler="Put">PUT</button>

        </div>
    </form>
</div>

