@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-container text-center">
    <h1 class="display-4 title">Swagger Clone</h1>

    <form method="post" asp-page-handler="FetchApi">
        <div class="api-field-container">
            <div class="input-container">
                <input required="" id="input" name="Endpoint" type="text">
                <label class="label" for="input">Endpoint</label>
                <div class="underline"></div>
                <div class="sideline"></div>
                <div class="upperline"></div>
                <div class="line"></div>
            </div>
            <button class="fetch-btn" type="submit">Fetch</button>
        </div>





        <div></div>

        <label for="formatToJson">JSON Format</label>
        <input type="checkbox" id="formatJson" name="FormatJson" checked="@Model.FormatJson" />

    </form>

    <hr class="divider" />

    <div class="response-container">
        @if (!string.IsNullOrEmpty(Model.ApiResponse))
        {
            <pre class="response-display">@Html.Raw(Model.ApiResponse)</pre>
        }
        else
        {
            <div class="response-empty" style="color: red">No response data to display.</div>
        }
    </div>
</div>

