.main-container {
    margin: auto;
    width: 100%;
    text-align: center;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.subtitle {
    margin-top: 15px;
    font-weight: bold;
}

.api-form {
    margin-top: 20px;
}

.api-field-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

.delete-container {
    display: flex;
    justify-content: space-between;
}

.delete-holder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
}

.api-label {
    font-weight: bold;
    margin-right: 10px;
}

.api-input {
    width: 60%;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.api-submit {
    padding: 5px 15px;
    font-family: "Courier New", Courier, monospace;
    border: #00ff00;
    border-radius: 4px;
    cursor: pointer;
}

    .api-submit:hover {
        background-color: #0056b3;
    }

#requestType {
    background: linear-gradient(135deg, #0c0c0c, #000);
    color: #00ff00;
    border: 2px solid #00ff00;
    outline: none;
}

.divider {
    margin: 10px;
    border: 1px solid #00ff00;
}

.response-container {
    border: 1px solid #00ff00;
    width: 90%;
    height: 300px;
    overflow-y: scroll;
    margin: auto;
}

.response-display {
    text-align: center;
    margin: 0;
    padding: 0;
    text-align: left;
    margin: 0;
    padding: 10px;
}

.response-empty {
    color: red;
}

.extended-actions-container {
    width: 90%;
    overflow-y: scroll;
    margin: auto;
    margin-top: 20px;
}

#jsonPayload {
    height: 250px;
    outline: none;
}
