.form {
    --width-of-input: 450px;
    --border-height: 1px;
    --border-before-color: transparent;
    --border-after-color: #00ff00;
    --input-hovered-color: transparent;
    position: relative;
    width: var(--width-of-input);
}
/* styling of Input */
.input {
    color: #00ff00;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: 1px solid #00ff00;
    border-bottom: var(--border-height) solid var(--border-before-color);
}
/* styling of animated border */
.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
/* Hover on Input */
input:hover {
    background: var(--input-hovered-color);
}

input:focus {
    outline: none;
}
    /* here is code of animated border */
    input:focus ~ .input-border {
        width: 100%;
    }
/* === if you want to do animated border on typing === */
/* remove input:focus code and uncomment below code */
/* input:valid ~ .input-border{
  width: 100%;
} */

.objectId-input {
    width: 50px;
    border: none;
    background: linear-gradient(135deg, #0c0c0c, #000);
    color: #00ff00;
    outline: none;
}