html, body {
    background: linear-gradient(135deg, #0c0c0c, #000);
    color: #00ff00;
    font-family: "Courier New", Courier, monospace;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(135deg, #0c0c0c, #000);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00ff00;
    border-radius: 0;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #00cc00;
    }

::-webkit-scrollbar-corner {
    background: #0c0c0c;
}
