<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Swagger Clone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/InputFields.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Links.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SwaggerClone.styles.css" asp-append-version="true" />
</head>
<body>
    <div style="background: red;">AAA</div>
    <div class="d-flex">
        <a class="header-link" asp-page="/Index">Index</a>
        <div class="divider"></div>
        <a class="header-link" asp-page="/Auth">Auth</a>
    </div>
    <main>
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function saveToken() {
            var token = document.getElementById('tokenInput').value;
            document.cookie = "JWTToken=" + token + "; path=/";
        }

        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }
    </script>

</body>
</html>